<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign My Guestbook!</title>
    <script src="/scripts/scripts.js" defer></script>
    <link rel="stylesheet" href="/styles/home.css">

    <!-- Place Favicon Here -->
    <link rel="icon" type="image/png" href="/images/book.png">
</head>
<body>

    <div class="container">
        <h1>Contact Form</h1>
        <form id="guest-book" method="POST" action="success">
            <div class="form-field-container">
                <!-- Name Fields -->
                <div class="form-field">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" name="first_name">
                    <span id="err-name" class="err"> Field is required</span>
                </div>
                <div class="form-field">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" name="last_name">
                    <span id="err-lname" class="err"> Field is required</span>
                </div>

                <!-- Job Title -->
                <div class="form-field">
                    <label for="job-itle">Job Title</label>
                    <input type="text" id="job-title" name="job_title">
                    <span id="err-job" class="err"> Optional</span>
                </div>

                <!-- Company -->
                <div class="form-field">
                    <label for="company">Company</label>
                    <input type="text" id="company" name="company">
                    <span id="err-company" class="err">Optional</span>
                </div>

                <!-- LinkedIn URL -->
                <div class="form-field">
                    <label for="linkedin">LinkedIn URL</label>
                    <input type="text" id="linkedin" name="linkedin">
                    <span id="err-linkedin" class="err">Optional</span>
                    <span id="err-linkedin-format" class="err">
                        ex: "https://linkedin.com/in/"</span>
                </div>

                <!-- Email Address -->
                <div class="form-field">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email">
                    <span id="err-email" class="err">Must contain @ and a dot (.)</span>
                </div>

                <!-- How Did We Meet (Drop Down)-->
                <div class="form-field meet">
                    <label for="meet">How Did We Meet?</label>
                    <select id="meet" name="meet">
                        <option value="">-- Please Select --</option>
                        <option value="person">In Person</option>
                        <option value="conference">Conference</option>
                        <option value="meetup">Meetup</option>
                        <option value="networking">Networking Event</option>
                        <option value="other">Other</option>
                    </select>
                    <span id="err-meet" class="err">This field is required</span>
                </div>

                <!-- Other (Please Specify) -->
                <div class="form-field other" style="display: none;">
                    <label for="other">Other (Please Specify)</label>
                    <input type="text" id="other" name="other">
                </div>

                <!-- Message Field -->
                <div class="form-field width">
                    <label for="message">Message</label>
                    <textarea rows="5" id="message" name="message"></textarea>
                </div>

                <!-- Mailing List Checkbox -->
                <div class="form-field width">
                    <label for="mailingList">
                        <input type="checkbox" id="mailingList" name="mailingList">
                        Please add me to your mailing list
                    </label>
                    <span id="err-checkbox" class="err">
                        Please provide an email address</span>
                </div>

                <!-- Radio Button Options -->
                <div class="form-field width">
                    <p>Choose an email format:</p>
                    <label for=""><input type="radio" name="format" value="html">HTML</label>
                    <label><input type="radio" name="format" value="text">Text</label>
                </div>

                <!-- Submit Button -->
                <div class="form-field width">
                    <button type="submit" class="main-button">Submit</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>
